.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  margin: 0px 15px 0px 20px;
}

.page-header > :first-child,
.page-header > :last-child {
  width: 33%;
}

.page-header > :last-child {
  display: flex;
  justify-content: flex-end;
}

.page-header > span:not(.page-header__sm) {
  font-size: 32px;
  font-weight: 600;
}

.page-header__sm {
  font-size: 24px;
  font-weight: 600;
}

.page-header__icon a {
  font-size: 20px;
  margin-left: 10px;
}

.page-header__icon span {
  position: absolute;
  top: 30%;
  right: -6px;

  width: 5pt;
  height: 5pt;
  font-size: 0;
  background-color: rgb(228, 80, 39);
  border-radius: 50%;
}
