@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import "reset-s.css";
@import "variables-s.css";

/* components */
@import "components/status-bar-s.css";
@import "components/navigation-bar-s.css";
@import "components/page-header-s.css";
@import "components/user-profile.css";

/* screens */
@import "screens/log-in-page.css";
@import "screens/main1.css";

body {
  max-width: 1000px;
  height: 100vh;
  /*height: 700px;*/
  margin: 0 auto;
  /*페이지 확장됐을 때 가운데로 오도록 함*/
  color: var(--text-color);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  height: 1000vh;
}

a {
  text-decoration: none;
}

a:not(#log-in-form > a) {
  color: #391b1b;
}
